%% == Erlang Compiler ==

{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    warnings_as_errors,
    debug_info,
    warn_export_vars,
    warn_unused_import
]}.

%% == Dependencies and plugins ==

{deps, [
    {tls_certificate_check, "1.0.1"}
]}.

{project_plugins, [
    {rebar3_lint, "0.2.0"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        underspecs
    ]}
]}.

%% == xref ==

{xref_checks, [
    exports_not_used,
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

%% == Profiles ==

{profiles, [
    {'test', [
        {erl_opts, [
            warnings_as_errors,
            debug_info,
            nowarn_missing_spec,
            nowarn_export_all,
            warn_export_vars,
            warn_unused_import
        ]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

%% == edoc ==

{edoc_opts, [
    {preprocess, true},
    {includes, ["src"]}
]}.
