{erl_opts, [
  {platform_define, "^[0-9]+", namespaced_types}
]}.
{cover_enabled, true}.
{xref_checks, []}.

{deps,
 [{certifi, ".*", {git, "https://github.com/certifi/erlang-certifi.git", {tag, "2.4.2"}}},
  %% XXX we don't actually need parse_trans, but certifi imports it
  %% from hex.pm, which would make it impossible to build it on rebar 2.
  {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.3.0"}}},
  {ssl_verify_fun, ".*", {git, "https://github.com/deadtrickster/ssl_verify_fun.erl.git", {tag, "1.1.5"}}}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
   ]}
 ]}.
