{erl_opts, [
  {platform_define, "^[0-9]+", namespaced_types}
]}.
{cover_enabled, true}.
%% basho_bench_driver_erldis calls undefined functions, so disable xref_checks.
%% This allows this project to be used as a dependency by other rebar projects
%% that use xref.
{xref_checks, []}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [unmatched_returns,
    error_handling,
    race_conditions,
    underspecs
   ]}
 ]}.
